header {
  padding: 30px 50px;
  @include flex(row, space-around, center);
  @extend %relative;
  box-sizing: border-box;
  position: fixed;
  background: white;
  width: 94%;
  z-index: 5;
  

  &::after {
    content: "";
    width: calc(100% + 150px);
    height: 0.5px;
    background: $grey;
    @extend %absolute;
    bottom: 0;
    left: -150px;
  }

  nav {
    color: $skyblue;
    li {
      display: inline-block;
      margin-right: 60px;
      font-weight: 500;
      @extend %relative;
      @extend %pointer;
      outline: none;

      &::after {
        content: "";
        width: 160%;
        height: 4px;
        opacity: 0;
        background: $skyblue;
        @extend %absolute;
        left: -30%;
        bottom: -39px;
        transition: 0.1s;
    }

    &.active::after {
      opacity: 1;
      transition: ease-in
    }
   
    }
  }

  input {    
    background: url("/src/icons/search.svg") no-repeat 100%;
    width: 250px;
    background-size: 12px;
    background-position: 12px 12px;
    margin-left: auto;
    padding: 10px 10px 10px 33px;
    margin-right: 20px;    

    &::placeholder {
      color: #dadde8;
    }
  }

  img {
    @extend %pointer;
  }
}
