

%margin30 {
    margin-bottom: 30px;
}

%relative {
    position: relative;
}


%absolute {
    position: absolute;
}

%pointer {
    cursor: pointer;
}

%boxcurved {
    border-radius: 3px;
}

%inlineBlock {
    display: inline-block;
}
